{% extends 'base.html' %}
{% block content %}
<form method='post' class='card form'>
<h2>Create account</h2>
<input name='first_name' placeholder='First name' required>
<input name='last_name' placeholder='Last name' required>
<input name='full_address' placeholder='Full address' required>
<input type='email' name='email' placeholder='Email' required>
<input type='password' name='password' placeholder='Password' required>
<label><input type='checkbox' name='marketing_opt_in'> Marketing updates (never more than 1 per month, usually 1 per 6 months)</label>
<button class='btn'>Register free</button>
</form>
{% endblock %}
